/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
}
/* reset end */

/* warna dasar */
:root {
  --warna-hitam: rgba(0, 0, 0);
  --warna-putih: rgba(255, 255, 255);
  --warna-abu1: #414141;
  --warna-abu2: #c2c2c2;
  --warna-abu3: #9a9a9a;
  --warna-abu4: #808080;
  --warna-abu5: #858484;
  --warna-abu6: #b8b8b8;
  --warna-abu7: #292929;
  --warna-oren1: #ff7700;
  --warna-oren2: #d26200;
}

/* start */
html,
body {
  background-color: var(--warna-hitam);
  overflow-x: hidden;
}

/* header */
header.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

header {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  font-family: poppins, sans-serif;
  transition: all 1s ease;
  nav {
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    gap: 0 0.3rem;
    li a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      padding: 0.2rem 0.7rem;
      border-radius: 1rem;
      border: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      font-size: 1rem;
    }

    li a:hover {
      color: black;
      background-color: white;
    }

    li a.active {
      border: 2px solid var(--warna-abu3);
    }
  }

  figure {
    display: inline-flex;
    align-items: center;
    margin: -0.7rem auto;
  }
  figure img {
    width: 5rem;
  }

  figure figcaption {
    font-size: 1.3rem;
    font-weight: 700;
    background: linear-gradient(0deg, #414141 30%, white 70%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .contact {
    margin: 0 auto;
    a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      padding: 0.2rem 0.7rem;
      border: 2px solid var(--warna-abu3);
      border-radius: 1rem;
      font-size: 1rem;
    }

    a:hover {
      color: black;
      background-color: white;
      border: 2px solid transparent;
    }
  }

  #hamburger {
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    display: none;
    .bar {
      transition: all 0.4s ease-in-out;
      width: 1.4rem;
      height: 3px;
      background-color: white;
      border-radius: 1rem;
    }

    .bar:nth-child(2) {
      margin: 5px 0;
    }
  }

  #hamburger:hover .bar {
    background-color: var(--warna-abu4);
  }

  #hamburger.active .bar:nth-child(1) {
    transform: rotate(48deg);
    transform-origin: top left;
  }

  #hamburger.active .bar:nth-child(2) {
    transform: scale(0);
  }
  #hamburger.active .bar:nth-child(3) {
    transform: rotate(-48deg);
    transform-origin: bottom left;
  }
}
/* header */

#buat-ulasan {
  padding: 0 1rem;
  position: relative;
  margin-top: 4rem;
}

#buat-ulasan::after {
  content: "";
  width: 80%;
  height: 90%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.33) 0%,
    rgb(0, 0, 0) 100%
  );
  position: absolute;
  z-index: 1;
  border-radius: 100%;
  filter: blur(8rem);
  bottom: 0;
  left: 10%;
}

#buat-ulasan h2 {
  text-align: center;
  font-family: poppins, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(0deg, #414141 41%, white 58%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  z-index: 9;
}

#form-ulasan {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: auto;
  gap: 0.5rem;
  position: relative;
  z-index: 9;

  label {
    color: white;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }

  #nama,
  #status,
  textarea,
  select {
    display: block;
    width: 100%;
    background-color: black;
    outline: none;
    border: 2px solid var(--warna-abu6);
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
  }

  #nama:focus,
  textarea:focus,
  #status:focus {
    border: 2px solid white;
    background-color: var(--warna-abu7);
  }

  #status option:hover,
  #status option:checked {
    background-color: black;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--warna-abu6);
    font-style: italic;
  }

  .upload-foto {
    background-color: black;
    border: 2px dashed var(--warna-abu6);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--warna-abu6);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5rem 0;
    text-align: justify;
    i {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
      span {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;
      }

      span:hover {
        color: white;
        text-decoration: none;
      }
    }

    small {
      font-size: 0.9rem;
    }

    #fileList span {
      font-style: italic;
    }
  }

  .bintang {
    display: flex;
    gap: 0.5rem;

    i {
      color: var(--warna-oren1);
      font-size: 1.5rem;
      cursor: pointer;
    }

    span {
      font-size: 0.9rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: var(--warna-abu6);
      font-weight: 400;
      font-style: italic;
      align-self: flex-end;
    }
  }

  .form-flex {
    display: flex;
    gap: 0.5rem;

    .nama,
    .status {
      width: 100%;
    }

    .nama input,
    .status select {
      margin-top: 0.5rem;
    }
  }

  #submit {
    color: white;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5rem;
    width: max-content;
    align-self: center;
    padding: 0.2rem 2rem;
    cursor: pointer;
    margin-top: 0.4rem;
    transition: all 0.5s ease;
  }

  #submit:hover {
    background: white;
    color: black;
  }
}

/* media query */
@media screen and (max-width: 1024px) {
  /* header */
  header nav ul li a,
  header .contact a {
    font-size: 0.9rem;
  }

  header figure img {
    width: 4.5rem;
  }

  header figure figcaption {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 850px) {
  /* header */
  header {
    height: 3.2rem;
    #hamburger {
      display: block;
    }
    figure {
      margin: -0.6rem 0;
    }
  }

  header nav ul {
    flex-direction: column;
    gap: 2rem 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 11rem;
    padding-top: 2rem;
    right: 0;
    top: 3.2rem;
    height: 100vh;
    z-index: 99999;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    align-items: center;
  }

  header nav ul.active {
    transform: translateX(0);
  }

  header .contact {
    margin: 0;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 575px) {
  /* header */
  header nav ul li a,
  header .contact a {
    font-size: 0.8rem;
  }

  header figure img {
    width: 4rem;
  }

  header figure figcaption {
    font-size: 1rem;
  }

  /* buat ulasan */
  #buat-ulasan h2 {
    font-size: 1.3rem;
  }

  #buat-ulasan #form-ulasan label,
  #buat-ulasan #form-ulasan .upload-foto p,
  #buat-ulasan #form-ulasan #submit {
    font-size: 0.9rem;
  }

  #buat-ulasan #form-ulasan #nama,
  #buat-ulasan #form-ulasan #status,
  #buat-ulasan #form-ulasan textarea,
  #buat-ulasan #form-ulasan select,
  #buat-ulasan #form-ulasan .bintang span,
  #buat-ulasan #form-ulasan .upload-foto small {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  /* header */
  header nav ul li a,
  header .contact a {
    font-size: 0.7rem;
  }

  header figure img {
    width: 3.5rem;
  }

  header figure figcaption {
    font-size: 0.9rem;
  }

  header #hamburger .bar {
    width: 1.3rem;
    height: 2.5px;
  }
}

@media screen and (max-width: 360px) {
  /* header */
  header nav ul li a,
  header .contact a {
    font-size: 0.65rem;
  }

  header figure img {
    width: 3.3rem;
  }

  header figure figcaption {
    font-size: 0.85rem;
  }

  header #hamburger .bar {
    width: 1.28rem;
    height: 2.3px;
  }

  /* buat ulasan */

  #buat-ulasan #form-ulasan label,
  #buat-ulasan #form-ulasan .upload-foto p,
  #buat-ulasan #form-ulasan #submit {
    font-size: 0.8rem;
  }

  #buat-ulasan #form-ulasan #nama,
  #buat-ulasan #form-ulasan #status,
  #buat-ulasan #form-ulasan textarea,
  #buat-ulasan #form-ulasan select,
  #buat-ulasan #form-ulasan .bintang span,
  #buat-ulasan #form-ulasan .upload-foto small {
    font-size: 0.7rem;
  }

  #buat-ulasan #form-ulasan .bintang i {
    font-size: 1.4rem;
  }

  #buat-ulasan #form-ulasan .upload-foto i {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 320px) {
  /* header */
  header nav ul li a,
  header .contact a {
    font-size: 0.63rem;
  }

  header figure img {
    width: 3.4rem;
  }

  header figure figcaption {
    font-size: 0.8rem;
  }

  header #hamburger .bar {
    width: 1.25rem;
    height: 2.2px;
  }

  /* buat ulasan */
  #buat-ulasan h2 {
    font-size: 1.1rem;
  }

  #buat-ulasan #form-ulasan label,
  #buat-ulasan #form-ulasan .upload-foto p,
  #buat-ulasan #form-ulasan #submit {
    font-size: 0.7rem;
  }

  #buat-ulasan #form-ulasan #nama,
  #buat-ulasan #form-ulasan #status,
  #buat-ulasan #form-ulasan textarea,
  #buat-ulasan #form-ulasan select,
  #buat-ulasan #form-ulasan .bintang span,
  #buat-ulasan #form-ulasan .upload-foto small {
    font-size: 0.6rem;
  }

  #buat-ulasan #form-ulasan .bintang i {
    font-size: 1.3rem;
  }

  #buat-ulasan #form-ulasan .upload-foto i {
    font-size: 2.3rem;
  }
}
